test.html
test.py
CombinationManager.java
Main.java
test.js
temp.txt
# 빌드 아티팩트
wasm/target/

# Cargo.lock - 라이브러리 프로젝트인 경우 (응용 프로그램에서는 포함하는 것이 좋습니다)
wasm/Cargo.lock

# `wasm-pack` 빌드 아티팩트 (WebAssembly 프로젝트인 경우)
/pkg/
/*.wasm

# Editor-specific files
/.vscode/
/.idea/
